html, body {background: #fafafa; overflow: hidden; min-width: 1300px;height: 100%;}
.bk-layout{min-height: 500px;}
.page-content{padding: 25px;flex: 1;height: 100%;overflow: auto;}
@media all and (max-height: 550px){
  .copyright{display: none;}
}
.ffs .modal-content{border: none;border-radius: 2px;}

.none{display: none !important;}
.show{display: block !important;}
.ta-c{text-align: center !important;}
.ta-l{text-align: left !important;}
.ta-r{text-align: right !important;}

.king-page-topbar{background: transparent;border: none;}

.bk-horz-nav{background:#616ed6;}
.bk-horz-nav a{color: #fff;}
.bk-horz-nav .bk-nav-logo{width: 240px;}
.bk-horz-nav .bk-nav-links > li:hover {background-color: #5d69cc;}
.bk-horz-nav .bk-nav-links > li > a {color: #fff;}
.bk-horz-nav .bk-nav-links>li.active, 
.bk-horz-nav11 .bk-nav-links>li.active{background-color: #5d69cc;}

.bk-horz-nav .bk-nav-links > li.bk-has-submenu > a:after {border-top: 7px solid #fff;}

.bk-horz-nav .bk-nav-user {color: #fff;}
.nav-list .bk-icon{display: block;margin-top: 18px;}

.bk-layout{min-width: 1200px;}

.bk-tab .bk-tab-head .bk-tab-nav>li.active{background: #5d69cc;}

.check-list-button{border-color:transparent;}
.check-list-button.on{background:#616ed6;color: #fff;}


// /* dialog */
// .dialog-mask{position: fixed;top: 0px;left: 0px;display: table;width: 100%;height: 100%;background: rgba(43, 46, 57, 0.5);}
// .dialog-mask .dialog-wrap{display: table-cell;vertical-align: middle;}

// .dialog-mask .dialog{position: relative;margin: 0 auto;background: #fff;border-radius: 4px;box-shadow: 0 0 10px rgba(43, 46, 57, 0.5);overflow: hidden;}
// .dialog-mask .dialog .dialog-close{position: absolute;top: 20px;right: 20px;color: #444;}
// .dialog-mask .dialog .dialog-title{width: 100%;height: 60px;line-height: 60px;padding: 0 20px;border-bottom: 1px solid #eaeaea;font-size: 14px;}
// .dialog-mask .dialog .dialog-body{padding: 20px;}
// .dialog-mask .dialog .dialog-btns{width: 100%;padding: 35px 0 35px 0;}

/* 订单管理-订单详情弹层内容 */
.ffs h5{height: 26px;line-height: 26px;border-left:4px solid #616ed6;padding-left: 15px;}
.ffs .cont{width: 100%;margin-bottom: 15px;background: #fff;border:1px solid #ddd;padding: 10px 20px 20px 20px;}

.ffs .cont .bk-label{padding-left: 20px;color: #aaa;padding: 0 20px 0 0;line-height: 36px;}
.ffs .cont .bk-table{background: #fff;}
.ffs .cont .bk-form-content{margin-left: 150px;line-height: 34px;}
.ffs .cont .bk-form-input[readonly]{border: 1px solid transparent;background: transparent;}
.ffs .cont .bk-text-info{line-height: 38px;margin-left: 10px;}
.ffs .cont .bk-info{line-height: 36px;}

.ffs .cont-btns{width: 100%;overflow: hidden;}
.ffs .b-manage-title{overflow: hidden;}
.ffs .b-manage-btns{margin: 7px 0;}

.ffs-modal .info,
.ffs-modal.show-detail .detail{display: block;}
.ffs-modal .detail,
.ffs-modal.show-detail .info{display: none;}

.ffs .ffs-modal .cont{background: #fafafa;border:1px solid transparent;}
