html, body {background: #fafafa; overflow: hidden; min-width: 1300px;}
.bk-layout{min-height: 500px;}
.page-content{padding: 25px;flex: 1;height: 100%;overflow: auto;}
@media all and (max-height: 550px){
  .copyright{display: none;}
}

.none{display: none !important;}
.show{display: block !important;}
.ta-c{text-align: center !important;}
.ta-l{text-align: left !important;}
.ta-r{text-align: right !important;}

.king-page-topbar{background: transparent;border: none;}

.bk-horz-nav{background:#616ed6;}
.bk-horz-nav a{color: #fff;}
.bk-has-submenu{background: #5d69cc;}
.bk-horz-nav .bk-nav-links > li:hover {background-color: #5d69cc;}
.bk-horz-nav .bk-nav-links > li > a {color: #fff;}

.bk-horz-nav .bk-nav-links > li.bk-has-submenu > a:after {border-top: 7px solid #fff;}

.bk-horz-nav .bk-nav-user {color: #fff;}
.nav-list .bk-icon{display: block;margin-top: 18px;}

.bk-layout{min-width: 1200px;}

.bk-tab .bk-tab-head .bk-tab-nav>li.active{background: #616ed6;}

.check-list-button{border-color:transparent;}
.check-list-button.on{background:#616ed6;color: #fff;}


/* 订单详情 */
.bk-panel-body,
.list-group-item{overflow: hidden;}

.bk-panel-body{padding: 15px;}
.bk-panel-body h4{margin: 0;}

.br{border-right:1px solid #ddd;}

.info-label{padding: 15px 30px 15px 30px;}
.info-label .label-title{display: block;overflow: hidden;}
.info-label .label-title h4{float: left;}
.info-label .label-title .bk-text-button{float: right;}
.info-label .label-title .edit-btn{display: block;}
.info-label .label-title .cancel-btn,
.info-label .label-title .affirm-btn{ }

.info-label .nodata-cont{display: none; padding: 65px 25px 45px 25px;text-align: center;color: #ccc;}
.info-label.nodata .nodata-cont{display: block;}
.info-label.nodata .label-title .edit-btn{ }
.info-label.nodata .label-cont{}

.info-label.edit .label-title .edit-btn{ }
.info-label.edit .label-title .cancel-btn,
.info-label.edit .label-title .affirm-btn{display: block}
.info-lable.edit .label-cont .bk-form-content{margin-left: 0px;}
.info-label.edit .bk-form-input{display: inline-block;width: 30%;}

.info-label .label-cont{width: 100%;}
.info-label .label-cont .bk-form-input:read-only{padding-right: 0px;text-align: right;border:none;background: #fff;}
.info-label .add-new-btn{display: block;width: 100%;height: 36px;line-height: 36px;margin-top:15px;text-align: center;border: 1px dashed #ddd;}
.info-label .delete-btn{position: absolute;right: 0px;top:8px;}
.info-label .bk-form-item{position: relative;}

.edit-statement input{width: 80px;padding: 0 4px;}
.edit-statement input[type="date"]{width: 120px;}
.edit-statement input[type="date"]::-webkit-clear-button,
.edit-statement input[type="date"]::-webkit-inner-spin-button{display: none;-webkit-appearance: none;}

.edit-statement .add-btn{display: block;width: 100%;height: 48px;line-height: 48px;border:1px dashed #ddd;border-radius: 3px; color: #444;text-align: center;}
.edit-statement .add-btn:hover{background-color: #fafafa;}
.edit-statement .readonly td{color: #ddd;}
.edit-statement .readonly .delete-btn{display: none;}

.main-operating{display: table;width: 100%;}
.main-operating .info-user{display: table-cell;width:28%;padding-left:15px;vertical-align: middle;}
.main-operating .info-btn{display: table-cell;width:72%;vertical-align: middle;text-align: right;}
.main-operating .info-close{display: inline-block;}
.list-group-item{padding: 5px 0; border:none;}
.list-group-item .fl{color: #ccc;}

.details-table .text-r{text-align: right;}
.details-table .text-l{text-align: left;}
.details-table,
.details-table th{text-align: center;}
.details-table.no-border{border:1px solid transparent;}
.details-table .total{font-weight: 900;background: #fafafa;}
.details-table .select{border: none;margin-left: 10px;cursor: pointer;color: #57a3f1;}

/* dialog */
.dialog-mask{position: fixed;top: 0px;left: 0px;display: table;width: 100%;height: 100%;background: rgba(43, 46, 57, 0.5);}
.dialog-mask .dialog-wrap{display: table-cell;vertical-align: middle;}

.dialog-mask .dialog{position: relative;margin: 0 auto;background: #fff;border-radius: 4px;box-shadow: 0 0 10px rgba(43, 46, 57, 0.5);overflow: hidden;}
.dialog-mask .dialog .dialog-close{position: absolute;top: 20px;right: 20px;color: #444;}
.dialog-mask .dialog .dialog-title{width: 100%;height: 60px;line-height: 60px;padding: 0 20px;border-bottom: 1px solid #eaeaea;font-size: 14px;}
.dialog-mask .dialog .dialog-body{padding: 20px;}
.dialog-mask .dialog .dialog-btns{width: 100%;padding: 35px 0 35px 150px;}

.more-query-link{display: inline-block;margin-left: 100px;margin-top: 25px;}


